In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

import viz # curriculum example visualizations

## Exercises

1. How likely is it that you roll doubles when rolling two dice?

In [16]:
n_rolls = nrows = 100_000
n_dice = ncols = 2

rolls = np.random.choice([1,2,3,4,5,6], 
                         n_rolls * n_dice).reshape(nrows, ncols)
rolls

array([[4, 6],
       [2, 1],
       [4, 1],
       ...,
       [2, 4],
       [3, 4],
       [3, 1]])

In [17]:
rolls = pd.DataFrame(rolls)
rolls

       0  1
0      4  6
1      2  1
2      4  1
3      2  6
4      2  1
...   .. ..
99995  6  2
99996  1  1
99997  2  4
99998  3  4
99999  3  1

[100000 rows x 2 columns]

In [18]:
rolls["is_doubles"] = rolls.apply(lambda row: row[0] == row[1]in row.values, axis=1)
rolls.is_doubles.mean()

0.16497

2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [23]:
n_coins = ncols = 8
n_flips = nrows = 10**7
flips = np.random.choice([0, 1], n_coins*n_flips).reshape(nrows,ncols) #x, then y 
flips
flips = pd.DataFrame(flips)
flips

         0  1  2  3  4  5  6  7
0        0  1  1  0  1  1  0  1
1        0  1  1  1  1  1  1  0
2        0  0  1  1  1  1  0  0
3        1  1  0  1  1  1  0  0
4        1  0  0  0  1  0  1  1
...     .. .. .. .. .. .. .. ..
9999995  0  0  0  0  0  0  0  0
9999996  0  0  0  1  0  0  1  1
9999997  1  1  1  1  0  1  0  0
9999998  1  0  1  0  0  1  1  1
9999999  1  1  0  0  1  0  0  1

[10000000 rows x 8 columns]

In [29]:
heads_per_row = flips.sum(axis=1)
heads_per_row

0          5
1          6
2          4
3          5
4          4
          ..
9999995    0
9999996    3
9999997    5
9999998    5
9999999    4
Length: 10000000, dtype: int64

In [30]:
three_heads_five_tails = heads_per_row == 3

In [32]:
three_heads_five_tails.mean()

0.2189196

In [34]:
more_than_three_heads = heads_per_row >=4

In [35]:
more_than_three_heads.mean()

0.6368167

3. There are approximately 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [40]:
billboard_selections = nrows = 10**6
billboards = ncols = 2

student_selected = np.random.choice([1,0,0,0], 
                billboards * billboard_selections).reshape(nrows,ncols)

student_selected = pd.DataFrame(student_selected)
student_selected

        0  1
0       0  0
1       0  0
2       0  0
3       0  0
4       0  0
...    .. ..
999995  0  1
999996  0  0
999997  0  0
999998  1  0
999999  1  0

[1000000 rows x 2 columns]

In [41]:
ds_student_selected_twice = (student_selected.sum(axis=1) ==2).mean()
ds_student_selected_twice

0.062482

4. Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

In [ ]:
days = 5
nrows = 10**8

poptartdist = pd.DataFrame(np.random.normal(3, 1.5, (nrows, days))