In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

import viz # curriculum example visualizations

## Exercises

1. How likely is it that you roll doubles when rolling two dice?

In [2]:
n_rolls = nrows = 100_000
n_dice = ncols = 2

rolls = np.random.choice([1,2,3,4,5,6], 
                         n_rolls * n_dice).reshape(nrows, ncols)
rolls

array([[6, 4],
       [1, 1],
       [5, 3],
       ...,
       [6, 6],
       [2, 6],
       [3, 3]])

In [3]:
rolls = pd.DataFrame(rolls)
rolls

       0  1
0      6  4
1      1  1
2      5  3
3      1  6
4      2  6
...   .. ..
99995  5  4
99996  5  1
99997  6  6
99998  2  6
99999  3  3

[100000 rows x 2 columns]

In [4]:
rolls["is_doubles"] = rolls.apply(lambda row: row[0] == row[1]in row.values, axis=1)
rolls.is_doubles.mean()

0.16538

2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [5]:
n_coins = ncols = 8
n_flips = nrows = 10**7
flips = np.random.choice([0, 1], n_coins*n_flips).reshape(nrows,ncols) #x, then y 
flips
flips = pd.DataFrame(flips)
flips

         0  1  2  3  4  5  6  7
0        0  0  0  1  1  1  0  0
1        0  0  0  1  1  0  0  0
2        0  1  0  1  0  1  1  1
3        0  0  0  0  0  0  0  0
4        1  1  0  0  0  0  1  0
...     .. .. .. .. .. .. .. ..
9999995  0  0  0  1  0  0  0  1
9999996  1  1  1  0  0  0  1  0
9999997  1  0  1  1  0  1  0  1
9999998  1  0  1  1  1  0  0  1
9999999  0  1  0  0  0  1  0  1

[10000000 rows x 8 columns]

In [6]:
heads_per_row = flips.sum(axis=1)
heads_per_row

0          3
1          2
2          5
3          0
4          3
          ..
9999995    2
9999996    4
9999997    5
9999998    5
9999999    3
Length: 10000000, dtype: int64

In [7]:
three_heads_five_tails = heads_per_row == 3

In [8]:
three_heads_five_tails.mean()

0.2185566

In [9]:
more_than_three_heads = heads_per_row >=4

In [10]:
more_than_three_heads.mean()

0.6367916

3. There are approximately 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [11]:
billboard_selections = nrows = 10**6
billboards = ncols = 2

student_selected = np.random.choice([1,0,0,0], 
                billboards * billboard_selections).reshape(nrows,ncols)

student_selected = pd.DataFrame(student_selected)
student_selected

        0  1
0       0  0
1       0  0
2       1  0
3       0  0
4       0  0
...    .. ..
999995  1  0
999996  0  1
999997  0  0
999998  0  0
999999  1  0

[1000000 rows x 2 columns]

In [12]:
ds_student_selected_twice = (student_selected.sum(axis=1) ==2).mean()
ds_student_selected_twice

0.062933

4. Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

In [13]:
days = ncols = 5
rows = nrows = 10*25

pop_tart_dist = pd.DataFrame(np.random.normal(3, 1.5, (nrows, ncols)))
pop_tart_dist = pop_tart_dist.abs()
pop_tart_dist

p_pop_tart_remains = pop_tart_dist.apply(lambda x: x.sum() <=16, axis = 1)
p_pop_tart_remains.mean()

0.604

5.Compare Heights

- Men have an average height of 178 cm and standard deviation of 8cm.

- Women have a mean of 170, sd = 6cm.

Since you have means and standard deviations, you can use np.random.normal to generate observations.

If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [ ]:
nrows = 10 ** 5

random_man_ht = np.random.normal(178, 8, (nrows))
random_man_ht = random_man_ht.abs()

random_woman_ht = np.random.normal(170, 6, (nrows))
random_woman_ht = random_woman_ht.abs()

p_ladies_taller = ((random_woman_ht - random_man_ht) > 0).mean()
p_ladies_taller