In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

import viz # curriculum example visualizations

## Exercises

1. How likely is it that you roll doubles when rolling two dice?

In [2]:
n_rolls = nrows = 100_000
n_dice = ncols = 2

rolls = np.random.choice([1,2,3,4,5,6], 
                         n_rolls * n_dice).reshape(nrows, ncols)
rolls

array([[1, 6],
       [3, 3],
       [2, 4],
       ...,
       [4, 4],
       [3, 2],
       [4, 5]])

In [3]:
rolls = pd.DataFrame(rolls)
rolls

       0  1
0      1  6
1      3  3
2      2  4
3      6  2
4      5  3
...   .. ..
99995  1  5
99996  3  6
99997  4  4
99998  3  2
99999  4  5

[100000 rows x 2 columns]

In [4]:
rolls["is_doubles"] = rolls.apply(lambda row: row[0] == row[1]in row.values, axis=1)
rolls.is_doubles.mean()

0.16773

2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [5]:
n_coins = ncols = 8
n_flips = nrows = 10**7
flips = np.random.choice([0, 1], n_coins*n_flips).reshape(nrows,ncols) #x, then y 
flips
flips = pd.DataFrame(flips)
flips

         0  1  2  3  4  5  6  7
0        1  1  1  0  0  0  1  1
1        1  1  0  0  0  1  0  1
2        1  0  0  0  0  0  1  1
3        0  1  1  0  1  1  0  0
4        1  1  0  0  1  1  1  0
...     .. .. .. .. .. .. .. ..
9999995  0  0  0  1  1  1  0  1
9999996  1  1  0  0  1  0  1  1
9999997  0  1  1  1  1  0  1  1
9999998  1  0  0  0  0  0  1  0
9999999  1  0  0  0  0  1  0  0

[10000000 rows x 8 columns]

In [6]:
heads_per_row = flips.sum(axis=1)
heads_per_row
#(flips == 'Heads').sum(axis=1)
#(flips.n_heads == 3).mean()

0          5
1          4
2          3
3          4
4          5
          ..
9999995    4
9999996    5
9999997    6
9999998    2
9999999    2
Length: 10000000, dtype: int64

In [7]:
three_heads_five_tails = heads_per_row == 3

In [8]:
three_heads_five_tails.mean()

0.2186457

In [9]:
more_than_three_heads = heads_per_row >=4

In [10]:
more_than_three_heads.mean()

0.6367863

3. There are approximately 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [11]:
billboard_selections = nrows = 10**6
billboards = ncols = 2

student_selected = np.random.choice([1,0,0,0], 
                billboards * billboard_selections).reshape(nrows,ncols)

student_selected = pd.DataFrame(student_selected)
student_selected

        0  1
0       0  0
1       1  0
2       0  0
3       0  0
4       1  1
...    .. ..
999995  0  0
999996  0  0
999997  1  0
999998  1  0
999999  0  0

[1000000 rows x 2 columns]

In [12]:
ds_student_selected_twice = (student_selected.sum(axis=1) ==2).mean()
ds_student_selected_twice

0.062445

4. Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

In [13]:
days = ncols = 5
rows = nrows = 10*25

pop_tart_dist = pd.DataFrame(np.random.normal(3, 1.5, size = (nrows, ncols)).round())
pop_tart_dist = pop_tart_dist.abs()
pop_tart_dist

p_pop_tart_remains = pop_tart_dist.apply(lambda x: x.sum() <=16, axis = 1)
p_pop_tart_remains.mean()

0.684

5. Compare Heights

- Men have an average height of 178 cm and standard deviation of 8cm.

- Women have a mean of 170, sd = 6cm.

Since you have means and standard deviations, you can use np.random.normal to generate observations.

If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [14]:
nrows = 10 ** 5

random_man_ht = np.random.normal(178, 8, (nrows))
random_man_ht =  pd.DataFrame(random_man_ht)


random_woman_ht = np.random.normal(170, 6, (nrows))
random_woman_ht = pd.DataFrame(random_woman_ht)


p_ladies_taller = ((random_woman_ht - random_man_ht) > 0).mean()
p_ladies_taller

0    0.21182
dtype: float64

6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. 

A. What are the odds that after having 50 students download anaconda, no one has an installation issue?

In [19]:
students = ncols = 50
trials = nrows = 10*5

installs = np.random.choice([0, 1], size = (nrows, ncols), p = [1/250, 249/250])
installs = pd.DataFrame(installs)
installs["fails"] = installs.sum(axis=1)

none_in_fifty_fails = (installs.fails == 50).mean()
none_in_fifty_fails

# none_in_fifty_fails = installs.sum(axis=1) == 0

0.82

B. 100 students?

In [20]:
students = ncols = 100
trials = nrows = 10*5

installs = np.random.choice([0, 1], size = (nrows, ncols), p = [1/250, 249/250])
installs = pd.DataFrame(installs)
installs["fails"] = installs.sum(axis=1)

none_in_100_fails = (installs.fails == 100).mean()
none_in_100_fails

0.64

C. What is the probability that we observe an installation issue within the first 150 students that download anaconda?

In [21]:
students = ncols = 150
trials = nrows = 10*5

installs = np.random.choice([0, 1], size = (nrows, ncols), p = [1/250, 249/250])
installs = pd.DataFrame(installs)
installs["fails"] = installs.sum(axis=1)

none_in_150_fails = (installs.fails == 150).mean()
print( 1 - (none_in_150_fails))

0.38

D. How likely is it that 450 students all download anaconda without an issue?

In [22]:
students = ncols = 450
trials = nrows = 10*5

installs = np.random.choice([0, 1], size = (nrows, ncols), p = [1/250, 249/250])
installs = pd.DataFrame(installs)
installs["fails"] = installs.sum(axis=1)

none_in_450_fails = (installs.fails == 450).mean()
none_in_450_fails

0.14

7. Ex 7

In [ ]:
n_rows = 10_000
n_cols = 3
trucks = np.random.choice([1, 0], size = (n_rows, n_cols), p =[0.7, 0.3])
trucks.sum()

Exercise 8

In [24]:

#shared bdays
nrows = 10_000
ncols = 23 # 23 students
np.random.choice(range(365), size=(nrows, ncols))
birthdays = pd.DataFrame(np.random.choice(range(365), size=(nrows, ncols)))
birthdays["n_unique"] = birthdays.nunique(axis=1)
print(birthdays.nunique(axis=1))

#proportion of rows where we have multiple shared days
(birthdays.n_unique != 20).mean()
print((birthdays.n_unique != 20).mean())

#Rooms
x = 100
N = [n* (n-1) / 2 for n in x]

0       23
1       23
2       24
3       23
4       24
        ..
9995    24
9996    24
9997    22
9998    22
9999    24
Length: 10000, dtype: int64
0.9788

TypeError: 'int' object is not iterable